<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="/Account/Login/Login.js"></script>
    <link rel="stylesheet" href="Account/Login/Login.css">
</head>
<body>
    login page
    <br>
    <a href="http://localhost:3000/account/register">register if no account</a>
    <br>
    email:
    <input id="email" type="email">
    <br>
    password:
    <input id="password" type="password">
    <br>
    <button id="login">login</button>
</body>
</html>