<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Lobby</title>
    <script src="/Lobbies/List/List.js"></script>
    <link rel="stylesheet" href="/Lobbies/List/List.css">
</head>
<body>
    <div class="row">
        <p class="placeholder">Fetching lobbies, please wait...</p>
    </div>

    <br>
    <button id="creategame">create game</button>
</body>
</html>